body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightgrey;
   
}
ul.quotes {
    font-style: italic;
}
header.title {
    text-align: center;
}
h2 {
    text-decoration: underline;
}
ul.links {
    font-size: 25px;
}
table.unworthyEarth {
    line-height: 2.5;
}
